.big_container_cart {
    display: flex;
    height: 70vh;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    justify-content: flex-start;
}


.section_left, .section_right {
  width: 50%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  border: 1px solid black;
}

.section_left{
  padding-left: 30px;
  text-align: center;
}
.section_right {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}


/* Productos individuales*/

.products{
  overflow-y: auto;
  flex-grow: 1;
  padding-right: 30px;
  height: 70%;
}

.total_option{
  padding-top: 40px;
  height: 30%;
}
.product_cart{
  margin: 15px auto;
  height: 130px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.product_img{
  width: 70px;
  height: 70px;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  margin-bottom: 7px;
}

.img_section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30%;
}

.price_stock{
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 30%;
  margin-bottom: 3px;
}

.subtotal{
  color: #856404;
  font-size: 1.1rem;
  font-weight: 600;
}

.total_title{
  color: #0f3a1a;
  font-size: 1.7rem;
  font-weight: 800;
}

.total_button{
  display: flex;
  gap: 10px;
  justify-content: center;
}

.button_items{
    display: flex;
    padding-left: 15px;
    margin-left: 5px;
    gap: 5px; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 30%;
}

/*Segunda seccion*/
.payment_container{
  background: #fff;
  padding: 20px;
  margin-top: 70px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border: 1px solid #ddd;
  text-align: center;
}

.payment_option {
  width: 60px;
  height: auto;
  margin: 0.5rem;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s, transform 0.2s;
}

.payment_option:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.payment_option.selected {
  opacity: 1;
  border: 2px solid #007BFF;
  border-radius: 8px;
  padding: 4px;
}
.img_card{
  width: 80%;
  height: auto;
}

