body {
  background-image: url('/imgs/fondo-verduras.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Opcional: para que el fondo no se desplace */
  background-position: center center;
}
